{% extends 'database/layout.html' %}
{% load static %}
{% block content %}
<div class="features">
    <h1>Смена пароля</h1>
    <br>
    <button class="btn btn-outline-secondary" onclick="window.location.href='{{ referer }}'">← Назад к профилю</button>
    <form method="post">
        <h2>Заполните данные</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success custom-button" type="submit">Подтвердить</button>
    </form>

    </div>
{% endblock %}
