{% extends 'database/layout.html' %}

{% block content %}
<div class="features">
    <h2>Оценки по результатам сессий</h2>
    <br>
    <button class="btn btn-outline-secondary" onclick="window.location.href='{{ student.get_absolute_url }}'">← Назад к профилю</button>
    <br>
    <div class="table-wrapper">
        <table class="styled-table">
            <colgroup>
                <col style="width: 50%;">
                <col style="width: 10%;">
                <col style="width: 18%;">
                <col style="width: 22%;">
            </colgroup>
            <thead>
                <tr>
                    <th>Предмет</th>
                    <th>Семестр</th>
                    <th>Форма контроля</th>
                    <th>Оценка</th>
                </tr>
            </thead>
            <tbody>
            {% for entry in subjects_with_grades %}
                <tr>
                    <td>{{ entry.subject.name }}</td>
                    <td>{{ entry.semester }}</td>
                    <td>{{ entry.subject.get_assessment_form_display }}</td>
                    <td>
                        {% if entry.grade %}
                            {% if entry.subject.assessment_form == 'Экзамен' %}
                                <span>{{ entry.grade.get_grade_exam_display }}</span>
                            {% else %}
                                <span>{{ entry.grade.get_grade_test_display }}</span>
                        {% endif %}
                        {% else %}
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">Нет данных об оценках</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}