{% extends 'database/layout.html' %}

{% block content %}
    <div class="features">
        <h2>Учебные дисциплины</h2>
        <br>
        <button class="btn btn-outline-secondary" onclick="window.location.href='{{ student.get_absolute_url }}'">← Назад к профилю</button>
        <br>
        <table class="styled-table">
            <colgroup>
                <col style="width: 70%;">
                <col style="width: 30%;">
            </colgroup>
        <thead>
            <tr>
                <th>Название предмета</th>
                <th>Форма оценивания</th>
            </tr>
        </thead>
        <tbody>
            {% for subject in subjects %}
                <tr>
                    <td>{{ subject.name }}</td>
                    <td>{{ subject.assessment_form }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">Нет дисциплин.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}